venv/*

logs/*
__pycache__.*



__pycache__/task1.cpython-311.pyc
__pycache__/test_counter.cpython-311.pyc
__pycache__/test_counter1.cpython-311.pyc
task1/task1_pg_counter.log
task3/data/*
task3/__pycache__/*
